/**

cd assets
sass --watch scss:css --style compressed

*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");

@import "includes/root";
@import "includes/normalize";
@import "includes/animations";
@import "includes/layout";
@import "includes/forms";
@import "includes/buttons";
@import "includes/header";
@import "includes/footer";
@import "includes/auth";
@import "includes/dashboard";
@import "includes/finder";
@import "includes/responsive";