.comments{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h3.heading{
        font-size: 1.3rem;
        font-weight: normal;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px var(--ews-border-hover);
        padding-bottom: 1rem;
        .text{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
        }
        a{
            font-size: .85rem;
        }
    }
    .comments-list{
        display: flex;
        flex-direction: column;
        .comment-item{
            padding: 1rem 0;
            border-bottom: solid 1px var(--ews-border-default);
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 1rem;
            &:last-child{
                border-bottom: none;
            }
            .avatar{
                margin: 0;
                img{
                    float: left;
                    width: 45px;
                    height: auto;
                    border-radius: 3rem;
                }
            }
            .content{
                display: flex;
                flex-direction: column;
                gap: .1rem;
                .author{
                    display: flex;
                    flex-direction: row;
                    gap: .5rem;
                    font-size: 1rem;
                    font-weight: 600;
                    span.time{
                        font-size: .85rem;
                        color: var(--ews-text-secondary);
                        font-weight: normal;
                    }
                }
                .text{
                    color: var(--ews-text-secondary);
                    font-size: 1rem;
                    line-height: 1.5;
                }
            }
        }
    }
    .comments-form{
        background-color: var(--ews-background-paper);
        border-radius: var(--ews-border-radius);
        display: flex;
        flex-direction: row;
        .comment-writer{
            width: 100%;
            textarea{
                float: left;
                width: 100%;
                height: 62px;
                min-height: 62px;;
                max-height: 200px;
                padding: 1.31rem;
                border: none;
                background-color: transparent;
                color: var(--ews-text-primary);
                font-size: 1rem;
                line-height: 1.25;
                transition: height 0.15s ease-in-out;
                overflow-y: hidden;
                will-change: height;
                resize: none;
                &::placeholder{
                    color: var(--ews-text-disabled);
                }
            }
        }
        .comment-button{
            button{
                padding: 0 1rem;
                cursor: pointer;
                border: none;
                background-color: transparent;
                width: auto;
                height: 100%;
                color: var(--ews-text-icon);
                i.material-icons{
                    float: left;
                    font-size: 1.3rem;
                }
                &:hover{
                    color: var(--ews-text-hover);
                }
                &:active{
                    color: var(--ews-text-primary);
                }
            }
        }
    }
}