.comments{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    &.onload{
        min-height: 160px;
        border-radius: var(--ews-border-radius);
    }
    h3.heading{
        font-size: 1.3rem;
        font-weight: normal;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .text{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            i.material-icons{
                font-size: 1.3rem;
                color: var(--ews-text-icon);
            }
        }
        .controls{
            a.button{
                font-size: .85rem;
                padding: .35rem 1rem;
            }
        }
    }
    .comments-list{
        display: flex;
        flex-direction: column;
        position: relative;
        .no-comments{
            padding: 2rem 0;
            text-align: center;
            color: var(--ews-text-disabled);
            background-color: var(--ews-background-notices);
            border-radius: var(--ews-border-radius);
            font-size: 1rem;
            font-weight: 300;
        }
        .comment-item{
            padding: 1rem 0;
            border-bottom: solid 1px var(--ews-border-default);
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 1rem;
            a{
                color: inherit;
                &:hover{
                    color: var(--ews-text-hover);
                }
            }
            &:last-child{
                border-bottom: none;
            }
            .avatar{
                margin: 0;
                padding: .75rem;
                color: var(--ews-text-icon);
                background-color: rgb(255 255 255 / 10%);
                border-radius: 2rem;
                i.icon{
                    float: left;
                    font-size: 1rem;
                }
                &.success{
                    color: var(--ews-success-txt);
                    background-color: var(--ews-success-bg);
                }
                &.info{
                    color: var(--ews-info-txt);
                    background-color: var(--ews-info-bg);
                }
                &.warning{
                    color: var(--ews-warning-txt);
                    background-color: var(--ews-warning-bg);
                }
                &.error{
                    color: var(--ews-error-txt);
                    background-color: var(--ews-error-bg);
                }
            }
            .content{
                display: flex;
                flex-direction: column;
                gap: .3rem;
                .author{
                    display: flex;
                    flex-direction: row;
                    gap: .65rem;
                    font-size: 1rem;
                    font-weight: 600;
                    span.time{
                        font-size: .8rem;
                        color: var(--ews-text-disabled);
                        font-weight: normal;
                    }
                }
                .text{
                    color: var(--ews-text-secondary);
                    font-size: 1rem;
                    line-height: 1.3;
                    scrollbar-width: inherit;
                    white-space: break-spaces;
                    word-break: break-word;
                }
            }
        }
    }
    .comments-form{
        margin: 0;
        form.post-comment-form{
            display: flex;
            flex-direction: column;
            gap: .3rem;
            .comments-notices{
                font-size: .75rem;
                color: var(--ews-text-disabled);
            }
            .status-side{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 .5rem;
                .label{
                    font-weight: 500;
                }
                .indicator{
                    display: flex;
                    flex-direction: row;
                    gap: .75rem;
                    width: 100%;
                    label.commnet-status{
                        cursor: pointer;
                        span{
                            font-weight: 600;
                            text-transform: uppercase;
                            font-size: .8rem;
                            color: var(--ews-text-icon);
                            transition: all .3s ease-in-out;
                        }
                        input[type="radio"]{
                            display: none;
                        }
                        &:hover{
                            span{
                                color: var(--ews-text-hover);
                                -webkit-animation: flash linear .25s infinite;
                                animation: flash linear .25s infinite
                            }
                        }
                        &.checked{
                            span{
                                color: var(--ews-text-primary);
                                &:hover{
                                    -webkit-animation: flash linear .95s infinite;
                                    animation: flash linear .95s infinite
                                }
                                &.status-success{
                                    color: var(--ews-success-txt);
                                }
                                &.status-info{
                                    color: var(--ews-info-txt);
                                }
                                &.status-warning{
                                    color: var(--ews-warning-txt);
                                }
                                &.status-error{
                                    color: var(--ews-error-txt);
                                }

                            }
                        }
                    }
                }
                .character-counter{
                    font-size: .85rem;
                    color: var(--ews-text-disabled);
                }
            }
            .writer-side{
                background-color: var(--ews-background-paper);
                border-radius: var(--ews-border-radius);
                display: flex;
                flex-direction: row;
            }
        }
        .comment-writer{
            width: 100%;
            textarea{
                float: left;
                width: 100%;
                height: 62px;
                min-height: 62px;;
                max-height: 200px;
                padding: 1.31rem;
                border: none;
                background-color: transparent;
                color: var(--ews-text-primary);
                font-size: 1rem;
                line-height: 1.25;
                overflow-y: hidden;
                resize: none;
                &::placeholder{
                    color: var(--ews-text-disabled);
                }
                &:disabled{
                    color: var(--ews-text-disabled);
                    cursor: wait;
                }
            }
        }
        .comment-button{
            button{
                padding: 0 1rem;
                cursor: pointer;
                border: none;
                background-color: transparent;
                width: auto;
                height: 100%;
                color: var(--ews-text-icon);
                i.material-icons{
                    float: left;
                    font-size: 1.3rem;
                }
                &:hover{
                    color: var(--ews-text-hover);
                }
                &:active{
                    color: var(--ews-primary);
                }
            }
        }
    }
}