main.admin-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    header.navigator{
        margin: 1rem 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            flex-direction: row;
            align-items: center;
            .logo{
                margin: 0 15px 0 0;
                img{
                    float: left;
                    width: 22px;
                    height: 22px;
                }
            }
            .subtitle{
                h1{
                    font-size: 1.3rem;
                    font-weight: normal;
                }
            }
        }
        .center{
            ul.menu{
                list-style: none;
                li{
                    display: inline-flex;
                    margin: 0 .3rem;
                    a{
                        color: var(--ews-text-icon);
                        padding: .2rem 0;
                        text-transform: uppercase;
                        font-size: .85rem;
                        font-weight: 700;
                        border-bottom: solid 3px rgba(0, 0, 0, 0);
                        &.on{
                            border-color: var(--ews-text-primary);
                        }
                        &:hover{
                            color: var(--ews-text-primary);
                        }
                    }
                }
            }
        }
        .right{
            display: flex;
            flex-direction: row;
            align-items: center;
            .profile{
                h3{
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
            .control{
                margin-left: 15px;
                a{
                    font-size: .95rem;
                    padding: .3rem 1rem;
                    color: var(--ews-text-icon);
                    border: solid 1px var(--ews-border-default);
                    border-radius: var(--ews-border-radius);
                    background-color: var(--ews-background-paper);
                    transition: all .3s ease;
                    &:hover{
                        color: var(--ews-text-hover);
                        background-color: transparent;
                        border-color: var(--ews-border-hover);
                    }
                }
            }
        }
    }
    .inside{
        display: flex;
        flex-direction: column;
        section.content{
            width: 100%;
            display: none;
            &.on{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .header{
                display: flex;
                flex-direction: column;
                gap: 5px;
                h2{
                    font-size: 1.3rem;
                    font-weight: normal;
                }
                p{
                    font-size: .85rem;
                    line-height: 1.5;
                    color: var(--ews-text-secondary);
                }
            }
            form.register-activator{
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .controls{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                padding: 0 .5rem;
                .btns{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                }
                p.notice{
                    font-size: .85rem;
                    line-height: 1.3;
                    color: var(--ews-text-secondary);
                }
            }
            .group{
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 1.5rem 4rem;
                background-color: var(--ews-background-paper);
                border-radius: var(--ews-border-radius);
                .heading{
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    margin-bottom: .75rem;
                    h3.title{
                        font-size: 1.1rem;
                        font-weight: normal;
                    }
                    p.desc{
                        font-size: .85rem;
                        line-height: 1.5;
                        color: var(--ews-text-secondary);
                    }
                }
                .fields{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    &.separator{
                        border-bottom: dashed 1px var(--ews-border-hover);
                        padding-bottom: 1.5rem;
                        margin-bottom: 1.2rem;
                    }
                    fieldset.input{
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        border: none;
                        display: flex;
                        flex-direction: column;
                        background-color: transparent;
                        position: relative;
                        span.currency-badge{
                            position: absolute;
                            font-size: .85rem;
                            font-weight: 600;
                            right: .8rem;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        label{
                            font-size: .85rem;
                            color: var(--ews-text-secondary);
                            position: absolute;
                            top: -13px;
                            left: 13px;
                            background-color: var(--ews-background-paper);
                            padding: 0 5px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            img{
                                opacity: .3;
                                float: left;
                                width: 15px;
                                height: 15px;
                            }
                            span{
                                margin-left: .4rem;
                            }
                        }
                        input[type="text"],
                        input[type="email"],
                        input[type="number"],
                        select{
                            height: 50px;
                            background-color: transparent;
                            border-radius: var(--ews-border-radius);
                            border: solid 2px var(--ews-border-default);
                            padding: 0 14px;
                            -moz-appearance: textfield;
                            &:focus{
                                outline: none;
                                border-color: var(--ews-text-primary);
                            }
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                        select{
                            height: 50px;
                            background-color: transparent;
                            border-radius: var(--ews-border-radius);
                            border: solid 2px var(--ews-border-default);
                            padding: 0 14px;
                            &:focus{
                                outline: none;
                                border-color: var(--ews-text-primary);
                            }
                            option{
                                background-color: var(--ews-background-paper);
                                color: var(--ews-text-primary);
                            }
                            optgroup{
                                background-color: var(--ews-background-paper);
                                color: var(--ews-text-disabled);
                            }
                        }
                    }
                }
            }
        }
    }
}

.oder-summary{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
    h3.title{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .6rem;
        font-size: 1.7rem;
        font-weight: normal;
        span.icon{
            color: var(--ews-text-disabled);
        }
    }
    .details{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        .card-price{
            position: relative;
            background-color: var(--ews-background-paper);
            border-radius: var(--ews-border-radius);
            padding: .85rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10000;
            }
            &.discount,
            &.total{
                cursor: pointer;
            }
            .amount{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                span.currency-badge{
                    color: var(--ews-text-disabled);
                    font-size: .85rem;
                    font-weight: 600;
                    margin-left: .5rem;
                }
            }
            .desc{
                font-size: .85rem;
                color: var(--ews-text-secondary);
            }
        }
    }
    .products{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        button.item{
            padding: 1rem 2rem;
            border: none;
            cursor: pointer;
            white-space: nowrap;
            background-color: var(--ews-background-paper);
            border-radius: var(--ews-border-radius);
            color: var(--ews-text-primary);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .item-details{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                .logo{
                    img{
                        float: left;
                        width: 25px;
                        height: 25px;
                    }
                }
                .name{
                    font-size: 1.1rem;
                }
            }
            .item-totals{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: .5rem;
                span.currency-badge{
                    color: var(--ews-text-disabled);
                    font-size: .75rem;
                    font-weight: 600;
                }
            }
        }
    }
}