.search-box{
    position: relative;
    width: 100%;
    background-color: var(--ews-background-paper);
    border-radius: var(--ews-border-radius);
    input[type="text"]{
        border: 0;
        background-color: transparent;
        border-radius: var(--ews-border-radius);
        padding: 0 3.5rem 0 1rem;
        width: 100%;
        height: 50px;
        font-size: 1rem;
        &::placeholder{
            color: var(--ews-text-secondary);
        }
        &:focus{
            border-color: transparent;
            box-shadow: 0px 0px 0px 2px var(--ews-text-primary);
            -webkit-box-shadow: 0px 0px 0px 2px var(--ews-text-primary);
            -moz-box-shadow: 0px 0px 0px 2px var(--ews-text-primary);
        }
    }
    button{
        color: var(--ews-text-icon);
        cursor: pointer;
        position: absolute;
        background-color: transparent;
        border: 0;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0 1rem;
        &:hover{
            color: var(--ews-text-primary);
        }
        &:active{
            color: var(--ews-primary);
            transform: scale(0.95);
        }
        i.material-icons{
            float: left;
        }
    }
}

.response{

    h1.title{
        font-size: 1.5rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        i.material-icons{
            font-size: 1.5rem;
            color: var(--ews-text-icon);
        }
    }
}

.view-order-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--ews-background-paper);
    padding: 2rem 3.5rem;
    border-radius: var(--ews-border-radius);
    .vod-box{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        h3.title{
            font-size: 1rem;
            font-weight: normal;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            i.material-icons{
                font-size: 1.3rem;
                color: var(--ews-text-icon);
            }
        }
        .view-data{
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1rem;
            border: var(--ews-border-default) solid 1px;
            border-radius: var(--ews-border-radius);
            &.order{
                flex-direction: column;
                align-items: normal;
                gap: .75rem;
                .order-data{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    span.label{
                        color: var(--ews-text-disabled);
                        font-size: .85rem;
                    }
                    span.value{
                        font-size: 1.2rem;
                        display: flex;
                        flex-direction: row;
                        gap: .5rem;
                        small.currency-badge{
                            font-size: .75rem;
                            color: var(--ews-text-icon);
                        }
                    }
                    &.total{
                        border-top: solid 2px var(--ews-border-default);
                        padding-top: .75rem;
                        span.label{
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                        span.value{
                            font-size: 1.5rem;
                            font-weight: 600;
                            small.currency-badge{
                                font-size: .85rem;
                                color: var(--ews-text-icon);
                            }
                        }
                    }
                }
            }
            &.black{
                background-color: var(--ews-background-default);
            }
            .item{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .15rem;
                span.label{
                    color: var(--ews-text-disabled);
                    font-size: .85rem;
                }
                span.value{
                    color: var(--ews-text-primary);
                    font-size: 1.1rem;
                }
                .products{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    span::before{
                        color: var(--ews-text-icon);
                        float: left;
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
}

button.view-data-key{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: var(--ews-border-radius);
    background-color: var(--ews-background-onload);
    border: solid 1px var(--ews-border-default);
    overflow: hidden;
    white-space: nowrap;
    *{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &:hover{
        background-color: var(--ews-background-default);
        .right{
            span{
                color: var(--ews-text-primary);
            }
        }
    }
    &:active{
        transform: scale(0.99);
        .right{
            span{
                color: var(--ews-primary);
            }
        }
    }
    .right{
        span{
            color: var(--ews-text-icon);
            font-size: 1rem;
        }
    }
    .left{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: .15rem;
        code.license-key{
            font-size: 1.3rem;
        }
        p.wrn{
            color: var(--ews-text-disabled);
            font-size: .85rem;
            margin: 0;
            padding: 0;
        }
    }
}