body{
    background-color: var(--ews-background-default);
    color: var(--ews-text-primary);
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.6rem;
    font-size: 1rem;
    overflow-x: hidden;
    word-wrap: break-word;
    font-weight: normal;
    position: relative;
    &.onload{
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &::before{
            width: 100vw;
            height: 100vh;
            background: var(--ews-background-default) var(--ews-svg-loader) center no-repeat;
            -webkit-background-size: 60px auto;
            background-size: 60px auto;
        }
    }
}
a{
    text-decoration: none;
    color: var(--ews-text-primary);
    :hover{
        color: var(--ews-text-hover);
    }
}
.onload{
    &::before{
        content: "";
        position: absolute;
        z-index: 100001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--ews-background-onload) var(--ews-svg-loader) center no-repeat;
        -webkit-background-size: 40px auto;
        background-size: 40px auto;
    }
}
.wrap{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container {
    max-width: var(--ews-width-container);
    padding: 5px 20px;
    margin: 0 auto;
}
.hidden{
    display: none !important;
}