@media only screen and (max-width: 600px){

    main.admin-wrap{
        header.navigator{
            .left{
                .subtitle{
                    display: none;
                }
            }
            .right{
                .profile{
                    display: none;
                }
            }
        }
        .inside{
            section.content{
                .controls{
                    flex-direction: column;
                    padding: 1rem .5rem;
                    div{
                        width: 100%;
                        button{
                            width: 100%;
                        }
                    }
                    p.notice{
                        text-align: center;
                        padding: 1rem 2rem 0;
                    }
                }
                .group{
                    padding: 1.5rem;
                    gap: 23px;
                    .fields{
                        flex-direction: column;
                        gap: 1.5rem;
                        &.separator{
                            border-bottom: none;
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    main.auth-wrap{
        height: 60vh;
        .inside{
            width: 100%;
            max-width: 400px;
            padding: 0;
            background-color: transparent;
        }
    }
    .oder-summary{
        margin: 0 ;
        h3.title{
            font-size: 1.3rem;
        }
        .products{
            button.item{
                padding: 1rem;
                .item-details{
                    .name {
                        font-size: .95rem;
                    }
                }
            }
        }
        .details{
            flex-direction: column;
            margin-top: 1rem;
            gap: 0;
            .card-price{
                flex-direction: row-reverse;
                justify-content: space-between;
                background-color: transparent;
                border-radius: 0;
                border-bottom: solid 1px var(--ews-border-hover);
                .desc{
                    font-size: 1rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 400px){
    main.auth-wrap{
        .inside{
            form{
                section{
                    &.submit-box{
                        flex-direction: column;
                        align-items: stretch;
                        button{
                            width: 100%;
                            min-width: unset;
                        }
                        div{
                            margin-bottom: 1rem;
                            text-align: center;
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}