@media only screen and (max-width: 600px){

    main.admin-wrap{
        header.navigator{
            .left{
                .subtitle{
                    display: none;
                }
            }
            .right{
                .profile{
                    display: none;
                }
            }
        }
    }

    main.auth-wrap{
        height: 60vh;
        .inside{
            width: 100%;
            max-width: 400px;
            padding: 0;
            background-color: transparent;
        }
    }
}
@media only screen and (max-width: 400px){
    main.auth-wrap{
        .inside{
            form{
                section{
                    &.submit-box{
                        flex-direction: column;
                        align-items: stretch;
                        button{
                            width: 100%;
                            min-width: unset;
                        }
                        div{
                            margin-bottom: 1rem;
                            text-align: center;
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}